body {
    background: #232323;
}

h1 {
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    background: pink;
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}
